/* 00. Normalize */
body {
    background: #edf2f4;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
}

ul, li {
    margin: 0px !important;
    padding: 0px !important;
}

/* 01. Navbar */
.navbar-nav {
    width: 100%;
}
  
.navbar .container-fluid{
    padding: 0 250px;
}
  
.nav-link {
    color: #8d99ae !important;
    transition: all .3s ease-in-out;
    margin: 0 10px;
    border-left: 1px solid transparent;
}
  
.nav-link:hover {
    color: #d90429 !important;
    border-left: 1px solid #ef233c;
}
  
.navbar-brand {
    color: #ffffff !important;
}
  
.navbar {
    border-bottom: 2px solid #ef233c;
}

/* ##. Main */
main {
    height: 100vh;
}

/* ##. Footer */
.footerMainContainer {
    height: 15vh;
    background: #212529;
    padding: 0 250px;
    padding-top: 15px;
}

.footerBoxTitle {
    color: #8d99ae;
    border-left: 2px solid #ef233c;
    padding-left: 15px;
}

.footerBoxLink {
    color: #edf2f4;
    transition: all .1s ease-in-out;
}

.footerBoxLink:hover {
    color: #ef233c;
    font-weight: bolder;
}

.footerEnd {
    width: 100%;
    height: 2.5vh;
    background: #ef233c;
}

.footerEndText {
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
    font-size: .7em;
    padding: 5px;
}